{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ request.session.blog_info.blogname|upper }} </title>

  <!--  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/markdown.css' %}">
    <style>
     * { font-family : 'NanumSquare', 'Sans-serif'; }
    </style>

  </head>
  <body>
    <div class="container-fluid">
        <div class="row top">
          <div class="offset-sm-6 col-sm-6">
            <div class="sign">
              <span class="search">
                <input type='text' id='keyword' class="keyword" placeholder="search" onkeyup="enter()">
              </span>
              <input type="button" id="searchbarBtn" value="search">
            {% if user.is_authenticated %}
              welcome, <b>{{user.username}}!</b>
              <a href="{% url 'unknownstation:write' %}" class="nounderline">New post</a> |
              <a href="{% url 'unknownstation:logout' %}" class="nounderline">logout</a>
            {% else %}
              <a href="{% url 'unknownstation:login' %}" class="nounderline">login</a>
            {% endif %}
          </div>
        </div>

      </div>
      <div class="row search2">
          <input type='text' id='keyword2' class="keyword2" placeholder="search" onkeyup="enter()">
      </div>

      <div class="row main">
      <!--  <div class="main">-->

      <!--  <div class="offset-sm-3 col-sm-6 offset-sm-3">-->
        <div class="col-md-2 col-sm-12 intro">
          <div class="">
            <a href="{% url 'unknownstation:index' %}" class="nounderline"> <div id="blogtitle"><h1><b>EGGCLOTHES</b></h1></div></a><br>
            <div class="user_info">
              <b>{{ request.session.user_info.nickname }}</b>
              <br>
              web programmer<br>
              python,django,javascript<br>
            </div>
            <div class="menu">
              <a href="{% url 'unknownstation:category'%}"><b>category</b></a> | 
              <a href="{% url 'unknownstation:month'%}"><b>month</b></a>

            </div>


          </div>
        </div>


          <div class="col-md-10 col-sm-12">
            {% block content %}
            {% endblock %}
          </div>

      <!--  </div>-->
    </div>
      <div class="row">
        <div class="bottom">
          © 2018 EGGCLOTHES all rights reserved.<br>
        </div>
      </div>
    </div><!-- container -->
  </body>

  <!------------------------ script ------------------------------>
  <script type="text/javascript">

    var searchbar = document.querySelector(".search");
    var searchbar2 = document.querySelector(".search2");
    searchbar.style.display="none";
    searchbar2.style.display="none";
    //desktop 기준
    var mql = window.matchMedia("only screen and (min-width:768px) and (orientation:landscape)");
    var searchbarBtn = document.getElementById("searchbarBtn");
    var flag=false;
    searchbarBtn.addEventListener("click",function(){

      if(mql.matches){
        searchbar2.style.display="none";
        if(!flag){
          searchbar.style.display="";
          flag=true;
        }else{
          searchbar.style.display="none";
          flag=false;
        }
      }else{
        searchbar.style.display="none";
        if(!flag){
          searchbar2.style.display="";
          flag=true;
        }else{
          searchbar2.style.display="none";
          flag=false;
        }
      }
    });

    function enter(){
      var keyword = "";

     if(mql.matches){
        keyword = document.getElementById("keyword").value;
      }else{
        keyword = document.getElementById("keyword2").value;
      }

      if(window.event.keyCode == 13){
          location.href="{{request.ROOT_URLCONF}}/blog/search?keyword="+keyword+"&page=1";
      }
    }


    //markdown editor
   var btn = document.querySelector("#tabchange");
    var space1 = document.querySelector("#content");
    var space2 = document.querySelector("#markdown");
    space2.style.display="none";

    btn.addEventListener("click", function(){
     if(this.value=="preview"){
        checkMarkdownPreview();
        space1.style.display="none";
        space2.style.display="";
        this.value="editor";
      }else{
        space1.style.display="";
        space2.style.display="none";
        this.value="preview";
      }
    })

    var submit = false;
      function checkMarkdownPreview(){
        var text = {"text":document.querySelector(".content_write").value, "mode":"gfm"}
        var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
         document.getElementById("markdown").innerHTML = this.responseText;
         document.getElementById("content_markdown").value = this.responseText;
         //alert(this.responseText)
         if(submit){
           var form = document.getElementById("write_form");
           form.submit();
         }
        }
      };

      xhttp.open("POST", "https://api.github.com/markdown", true);
      xhttp.setRequestHeader('Content-Type', 'application/json');
      xhttp.setRequestHeader('Authorization', 'bcbbe3360c392890e92034f22b21f182ba067be6');
      xhttp.send(JSON.stringify(text));
    }


    function write_form_submit(){
      //markdown 최종 결과를 한번더 받아온 뒤 제출
      submit = true;
      checkMarkdownPreview();
    }

    function deletePost(){
        if(confirm("Do you really want to delete this post?")){
            document.getElementById("deleteForm").submit();
        }

      }
  </script>
</html>
