{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>eggkim's blog</title>

  <!--  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="{% static 'unknownstation/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'unknownstation/css/markdown.css' %}">
    <style>
     * { font-family : 'Spoqa Han Sans', 'Sans-serif'; }
    </style>
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'unknownstation/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'unknownstation/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'unknownstation/favicon/favicon-16x16.png'%}">
    <link rel="manifest" href="{% static 'unknownstation/favicon/site.webmanifest'%}">
    <link rel="mask-icon" href="{% static 'unknownstation/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
        <div class="top">
            <div class="sign">
                <input type='text' id='keyword' class="keyword" placeholder="search" onkeyup="enter()">

              <img class="icon" id="searchbarBtn" src="{% static "unknownstation/assets/search.png" %}" alt="search">
            {% if user.is_authenticated %}
             hello, <b>{{user.username}}! </b>
             {% if user.username == request.session.blog_info.user.username %}
              <a href="{% url 'unknownstation:write' %}" class="nounderline"><span class="a-menu"> New post</span></a> |
             {% endif %}
              <a href="{% url 'unknownstation:logout' %}" class="nounderline"><span class="a-menu">logout</span></a>
            {% else %}
              <a href="{% url 'mylogin' %}" class="nounderline"><span class="a-menu"> * </span></a>
            {% endif %}
        </div>
        <div class="search2">
            <input type='text' id='keyword2' class="keyword2" onkeyup="enter()">
        </div>
        <div class="intro">
            <a href="{% url 'unknownstation:index' %}" class="nounderline"> <div id="blogtitle"><b>BLUE means BLUE</b></div></a><br>
            <div class="user_info">
              <b id="nickname">{{ request.session.user_info.nickname }}</b>
              <span id="user_intro">
                <br>
                초보 웹개발자.<br>
                java로 개발을 시작했고,<br>
                python django, javascript<br>
                공부중입니다.
                  <br>
              </span>
            </div>
            <div class="menu">
              <a href="{% url 'unknownstation:category'%}">category</a> <span id="pipe">&nbsp;|&nbsp; </span>
              <a href="{% url 'unknownstation:month'%}">month</a>
              <!--https://www.flaticon.com/free-icon/calendar_157297#term=calendar&page=9&position=47-->
            </div>
        </div>
      </div>

      <div class="main">
            {% block content %}
            {% endblock %}

            <div class="bottom">
              © 2018 EGG KIM all rights reserved.<br>
            </div>
    </div>




  </body>

  <!------------------------ script ------------------------------>
  <script src="{%static "unknownstation/js/unknownstation.js" %}">


  </script>
</html>
