{% extends 'unknownstation/base.html' %}
{% block content %}

<div class="post">
  <span class="highlight-main">{{ post_info.category.name }}</span>
  <div class="title"><h3>{{ post_info.title }}</h3></div>
  <div class="date">{{ post_info.created_date | date:'Y.m.d.  H:i:s'}}</div>
  <div class="updatebutton">
    {% if user.username == request.session.blog_info.user.username %}
      <form  id="deleteForm" action="{% url 'unknownstation:delete' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="post_id" value="{{ post_info.id}}">
      </form>
      <a href="{% url 'unknownstation:updateView' post_info.id %}"><span class="a-menu">수정</span></a> |
      <a href="#" onclick="deletePost();return false;"><span class="a-menu">삭제</span></a>
    {% endif %}
  </div>
  <div class="content markdown-body">{% autoescape off %}{{ post_info.content_markdown}}{% endautoescape %}</div>
  <div class="user_card">
    <span class="highlight-main">eggkim</span> <br>
    초보 개발자.<br>
    java로 개발을 시작했고 <br>현재 python, javascript 공부중입니다.
  </div>

{% endblock %}
