{% extends 'unknownstation/base.html' %}
{% block content %}
<div class="index">

{% if post_list %}
  <div class="page">
  <b>{{ category_info.name }}</b> : <b>{{category_info.count}}</b>
  {% if post_list|length == 1 %} post
  {% else %} posts
  {% endif %}

  </div>
  {% for post in post_list %}
  <div class="post_review">
  <!--  <p>{{ post.category.name }}</p> -->
    <div class="preview_title"><b>{{ post.title }}</b></div>
    <div class="preview_date">{{ post.created_date | date:'Y.m.d'}}</div>
    <div class="preview_content">
     {{ post.content_markdown |striptags |truncatechars_html:250 }}
    </div>
     <a href="{% url 'unknownstation:detail' post.id %}"><div class="a-menu" id="more">more</div></a>
  </div>
  {% endfor %}

  <div class="page">
    {% if post_list.has_previous%}
      <a href="{% url 'unknownstation:byCategory' category=category.name page=post_list.previous_page_number %}"><span class="a-menu">prev</span></a>
    {% endif %}
      {{  post_list.number }} of {{  post_list.paginator.num_pages }}
    {% if post_list.has_next %}
      <a href="{% url 'unknownstation:byCategory' category=category.name page=post_list.next_page_number %}"><span class="a-menu">next</span></a>
    {% endif %}
  </div>

{% else %}
<div class="nocontent">
No posts yet.
</div>
{% endif %}

</div>

{% endblock %}
