{% extends 'unknownstation/base.html' %}
{% block content %}
<div class="category">
  <div class="a-menu">  <h4>archive</h4><br></div>
{% if year_list %}
  {% for year in year_list %}
    <div class="a-menu">{{year}}<div class="a-menu"></div><br>
    <div class="a-menu">
    {% for month in month_list %}
      {% if year == month.year %}
        <a href="{% url 'unknownstation:byMonth' year=month.year month=month.month page=1 %}">
            {{month.month}}월 ({{month.count}})</a>
      {% endif %}
    {% endfor %}
    </div>
    <br>
    <br>
  {% endfor %}


{% endif %}
</div>
{% endblock %}
