{% extends 'unknownstation/base.html' %}
{% block content %}
<div class="post">
  <form action="{% url 'unknownstation:update'  %}" id="write_form" method="post" >
    {% csrf_token %}
    <h4>Update Post</h4>
    <select name="category">
      <option value=""> 선택</option>
      {% if request.session.category_info %}
        {% for category in request.session.category_info %}
          {% if category.id == post_info.category.id %}
            <option value="{{ category.id }}" selected> {{ category.name}}</option>
          {% else %}
            <option value="{{ category.id }}"> {{ category.name}}</option>
          {% endif%}
        {% endfor %}
      {% endif%}
    </select>
    <br>
    <input type ="text" name="title" value="{{ post_info.title }}" class="title_write">
    <br>
    <input type="button" value="preview" class="btn button-preview" id="tabchange">
    <textarea name="content" id="content" class="content_write" onkeydown="resizeTextarea(this)" onkeydown="resizeTextarea(this)">{{ post_info.content }}</textarea>
    <div id="markdown"></div>
    <input type="hidden" name="content_markdown" id="content_markdown">
    <input type="hidden" name="post_id" value="{{ post_info.id }}">
    <input type="hidden" name="published" id="published">
    <div class="row">
      <div class="col-sm-6">
          <input type="button" value="save" class="btn button-save" onclick="write_form_submit('save')">
      </div>
      <div class="col-sm-6">
        <input type="button" value="publish" class="btn button-publish" onclick="write_form_submit('publish')">
      </div>
  </form>
</div>
{% endblock %}
<script type="text/javascript">

</script>
