{% extends 'unknownstation/base.html' %}
{% block content %}
<div class="post">
  <form action="{% url 'unknownstation:register'  %}" id="write_form" method="post" >
    {% csrf_token %}
    <h4>New post</h4>
    <select name="category">
      <option value="">category</option>
      {% if request.session.category_info %}
        {% for category in request.session.category_info %}
          <option value="{{ category.id }}"> {{ category.name}}</option>
        {% endfor %}
      {% endif%}
    </select>
    <br>
    <input type ="text" name="title" class="title_write">
    <br>
    <textarea name="content" class="content_write" id="content"></textarea>
    <input type="button" value="preview" id="tabchange">
    <input type="hidden" name="content_markdown" id="content_markdown">
    <div id="markdown"></div>
    <input type="button" value="등록" onclick="write_form_submit()">

  </form>

  {{ form.media}}
</div>
{% endblock %}
