{% extends 'unknownstation/base.html' %}
{% block content %}
<div class="post">
  <form action="{% url 'unknownstation:register'  %}" id="write_form" method="post" >
    {% csrf_token %}
    <h4>New post</h4>
    <select name="category">
      <option value="">category</option>
      {% if request.session.category_info %}
        {% for category in request.session.category_info %}
          <option value="{{ category.id }}"> {{ category.name}}</option>
        {% endfor %}
      {% endif%}
    </select>
    <br>
    <input type ="text" name="title" class="title_write">
    <br>
    <input type="button" value="preview" class="button-preview" id="tabchange">
    <textarea name="content" class="content_write" id="content" onkeydown="resizeTextarea(this)" onkeydown="resizeTextarea(this)"></textarea>
    <input type="hidden" name="content_markdown" id="content_markdown">
    <div id="markdown"></div>
    <input type="hidden" name="published" id="published">
    <div class="row">
      <div class="col-sm-6">
          <input type="button" value="save" class="button-save" onclick="write_form_submit('save')">
      </div>
      <div class="col-sm-6">
        <input type="button" value="publish" class="button-publish" onclick="write_form_submit('publish')">
      </div>
    </div>



  </form>

  {{ form.media}}
</div>
{% endblock %}
