{% extends 'unknownstation/base.html' %}
{% block content %}
<div class="post">
  <form action="{% url 'unknownstation:register'  %}" method="post" >
    {% csrf_token %}
    <h2>New Post</h2>
    <select name="category">
      <option value="">category</option>
      {% if request.session.category_info %}
        {% for category in request.session.category_info %}
          <option value="{{ category.id }}"> {{ category.name}}</option>
        {% endfor %}
      {% endif%}
    </select>
    <br>
 <input type ="text" name="title" class="title_write">
    <br>
    <!--   <textarea name="content" class="content_write"></textarea><br>-->
    {{ form }}
    <input type="submit" value="등록">

  </form>

  {{ form.media}}
</div>
{% endblock %}
