.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.bottom {
 background-color: #FAECC5;
 background: #FAECC5;
 height: 300px;

}

.index{
  height: 100%;
}
.post {
  padding: 30px;
  height: 100%;
}

.post_review {
  padding: 30px;
  height: 200px;
}


.title {
  width:100%;
}

.content{
  width:100%;
  height: 100%;
}
